.center{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#buttons{
    margin-top: 20px;
}
#Convert{
    margin-bottom: 10px;
}
#footer{
    margin-top: 10px;
}
#form{
    margin-top: 20%;
}